<h1>Events</h1>
<p>Check out our upcoming events!</p>

<% if @events.empty? %>
<div>
  No upcoming events!
</div>
<% else %>
<% @events.each do |event| %>
<div>
  <%= render "event_card", event: event%>
  <div>
    <%= link_to "View Details", event_path(event) %>
    <%= button_to "RSVP", event_path(event) %>        
  </div>

</div>
<% end %>
<% end %>
